.content {
  margin: 0 6rem;
  padding: 2rem;
  background-color: white;
  box-sizing: border-box;
  min-height: 100dvh;
}

.section-data {
  overflow: hidden;
  transition: 0.5s all ease-in-out;
}

.section-data-header {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.arrow {
  transition: 0.2s all ease-out;
}

.echt-icon {
  height: 100%;
}